<ion-content padding>
  <h3>Ganhei</h3>
  <img src="assets/imgs/tela-inicial.png" alt="logo">

  <form>
    <ion-item>
      <ion-label position="stacked">e-mail</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">senha</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-button expand="block">Entrar</ion-button>
  </form>
  <ion-button expand="block" fill="outline">Registrar</ion-button>

</ion-content>
